@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

body {
    padding: 0;
    margin: 0;
    background-color: #17141d;
    color: white;
    font-family: 'DM Mono', monospace;
}

li {
    list-style-position: inside !important;
    text-align: center !important;
    list-style-type: none;
    margin-left: 0;
    text-indent: 0;
}

.proj-link:any-link {
    text-decoration: none;
    color: white !important;
}

p {
    font-size: 16px;
    margin: 2px 2px 2px 2px;
    padding: 2px 2px 2px 2px;
    text-align: center;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    color: red !important;
}

a:visited {
    color: blue;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.primary-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0; /* Remove or adjust the padding */
    margin: 0;
    list-style: none;
    background: hsl(0 0% 0% / 0.5);
}

.primary-navbar .logo {
    margin-right: auto;
    margin-left: 0; /* Remove or adjust the margin */
    border-radius: 50%;
    overflow: hidden;
    width: 40px; /* Adjust the size as needed */
    height: 40px; /* Adjust the size as needed */
}

.primary-navbar .logo img {
    display: block;
    width: 100%;
    height: auto;
}

.mobile-nav-toggle {
    display: none;
}

@supports(backdrop-filter: blur(1rem)) {
    .primary-navbar {
        background: hsl(0 0% 100% / 0.1);
        backdrop-filter: blur(1rem);
    }
}

.primary-navbar a > [aria-hidden="true"] {
    font-weight: 700;
    margin-inline-end: 0.75em;
}

@media (max-width: 35em) {
    .primary-navbar {
        --gap: 2em;
        z-index: 1000;
        position: fixed;
        flex-direction: column;
        padding: min(30vh, 10rem) 2em;
        inset: 0 0 0 30%;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
    }

    .primary-navbar[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        background-color: transparent;
        background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/59/Hamburger_icon_white.svg');
        background-repeat: no-repeat;
        width: 2rem;
        border: 0;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
        z-index: 9999;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url('https://upload.wikimedia.org/wikipedia/en/6/61/Cross_icon_%28white%29.svg');
        background-repeat: no-repeat;
        background-color: transparent;
    }
}

@media (min-width: 35em) and (max-width: 55em){
    .primary-navbar a > [aria-hidden="true"] {
        display: none;
    }
}

@media (min-width: 35em) {
    .primary-navbar {
        --gap: clamp(1.5rem, 5vh, 3rem);
        padding-block: 2rem;
        padding-inline: clamp(3rem, 9vw, 10rem);
    }
}

/*
.topnav {
    background-color: rgb(233, 230, 230);
    overflow: hidden;
    margin: -8px;
    text-align: center;
}

.topnav a {
    display: inline-block;
    color: #050505;
    text-align: center;
    padding: 22px 33px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Verdana, sans-serif';
}

.topnav a:hover {
    background-color: #ddd;
    color: red;
}

.topnav a.active {
    background-color: #92d6be;
    color: white;
}

.topnav #home:hover {
    border: 2px solid black;
}

.topnav #contact:hover {
    border: 2px solid black;
}

.topnav #projects:hover {
    border: 2px solid black;
}
*/

.proj-link {
    text-decoration: none;
}

.card-list {
    display: flex;
    padding: 3rem;
    overflow-x: scroll;
}

.card-list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.card-list::-webkit-scrollbar-thumb {
    background: #201c29;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

.card-list::-webkit-scrollbar-track {
    background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);
}

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    height: auto;
    width: 400px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background: #17141d;
    box-shadow: -1rem 0 3rem #000;

    transition: .2s;
}

.card:hover {
    transform: translateY(-1rem);
}

.card:hover~.card {
    transform: translateX(130px);
}

.card:not(:first-child) {
    margin-left: -130px;
}

.card-author {
    position: relative;
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
    margin: 3rem 0 0;
}

.author-avatar img{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 16px 10px;
}

.half-circle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 48px;
    fill: none;
    stroke: #ef6801;
    stroke-width: 8;
    stroke-linecap: round;
}

.author-name-prefix {
    font-style: normal;
    font-weight: 500;
    color: #7a7a8c;
}

.card-header {
    margin-bottom: auto;
}

.card-header p {
    font-size: 14px;
    margin: 0 0 1rem;
    color: #7a7a8c;
}

.card-header h2 {
    font-size: 20px;
    margin: .25rem 0 auto;
    cursor: pointer;
}

.card-header h2:hover {
    background: linear-gradient(180deg,#ff8a00,#f90008);
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tags {
    margin: 1rem 0 2rem;
    padding: .5rem 0 1rem;
    line-height: 2;
    margin-bottom: 0;
}

.tags a {
    font-style: normal;
    font-weight: 700;
    font-size: .5rem;
    color: #7a7a8c;
    text-transform: uppercase;
    font-size: .66rem;
    border: 3px solid #28242f;
    border-radius: 2rem;
    padding: .2rem .85rem .25rem;
    position: relative;
}

.tags a:hover {
    background: linear-gradient(90deg,#ff8a00,#f90008);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
    background-clip: text;
    border-color: white;
}

footer {
    margin: 0px;
    padding: 10px;
    width: 100%;
    text-align: center;
    position: fixed;
    font-size: 16px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f9f9f9;
    color: black;
    font-family: 'Ibarra Real Nova', serif;
}